SERVERS="main backup"
DEFAULT_SERVER="main"

MAIL_FROM="vpn@example.com"
SMTP_SENDMAIL="/usr/sbin/sendmail"

SERVER_MAIN_INTERFACE="wg0"
SERVER_MAIN_ENDPOINT="vpn.example.com:51820"
SERVER_MAIN_SERVER_PUBLIC_KEY="SERVER_MAIN_PUBLIC_KEY"
SERVER_MAIN_ALLOWED_IPS="0.0.0.0/0, ::/0"
SERVER_MAIN_ADDRESS_POOL="10.10.0.0/24"
SERVER_MAIN_CLIENT_PREFIX="32"
SERVER_MAIN_POOL_FIRST_HOST="2"
SERVER_MAIN_POOL_LAST_HOST="254"
SERVER_MAIN_DNS="1.1.1.1, 9.9.9.9"
SERVER_MAIN_PERSISTENT_KEEPALIVE="25"
SERVER_MAIN_APPLY_CHANGES="true"
SERVER_MAIN_PERSIST_CHANGES="false"
SERVER_MAIN_SERVER_CONFIG="/etc/wireguard/wg0.conf"
SERVER_MAIN_PROFILE_STORE="../data/main/profiles"
SERVER_MAIN_ARTIFACT_STORE="../data/main/artifacts"

SERVER_BACKUP_INTERFACE="wg1"
SERVER_BACKUP_ENDPOINT="vpn.example.com:51821"
SERVER_BACKUP_SERVER_PUBLIC_KEY="SERVER_BACKUP_PUBLIC_KEY"
SERVER_BACKUP_ALLOWED_IPS="10.20.0.0/16"
SERVER_BACKUP_ADDRESS_POOL="10.20.0.0/24"
SERVER_BACKUP_CLIENT_PREFIX="32"
SERVER_BACKUP_POOL_FIRST_HOST="2"
SERVER_BACKUP_POOL_LAST_HOST="254"
SERVER_BACKUP_DNS="1.1.1.1, 9.9.9.9"
SERVER_BACKUP_PERSISTENT_KEEPALIVE="25"
SERVER_BACKUP_APPLY_CHANGES="true"
SERVER_BACKUP_PERSIST_CHANGES="false"
SERVER_BACKUP_SERVER_CONFIG="/etc/wireguard/wg1.conf"
SERVER_BACKUP_PROFILE_STORE="../data/backup/profiles"
SERVER_BACKUP_ARTIFACT_STORE="../data/backup/artifacts"
